sphinx>=1.8.3
sphinx_rtd_theme
crate
sphinx-tabs
sphinx_issues
sphinx-prompt
sphinxext-opengraph
sphinxcontrib-images
sphinxcontrib-actdiag
sphinxcontrib-blockdiag
sphinxcontrib-nwdiag
sphinxcontrib-plantuml
sphinxcontrib-seqdiag
