sphinx>=1.8.3     
docutils>=0.16.0
readthedocs-sphinx-ext   
sphinx_rtd_theme   
sphinxcontrib-actdiag   
sphinxcontrib-blockdiag   
sphinxcontrib-contentui   
sphinx-copybutton   
#sphinxnotes-lilypond   
sphinx-gallery   
sphinx-gitstamp   
sphinxcontrib-images   
sphinx_issues   
#sphinx-Jinja   
sphinx-Hoverxref   
sphinx-notfound-page   
sphinxcontrib-nwdiag   
sphinxcontrib-plantuml   
sphinx-prompt   
sphinxext-remoteliteralinclude
#sphinx-Redirects   
#sphinxext.rediraffe   
sphinxcontrib-seqdiag   
sphinx-Sitemap   
sphinx-tabs   
#sphinx-Timeline   
#python-twitter   