sphinx>=1.8.3
sphinx_rtd_theme
sphinxext.opengraph
limitation
sphinx_issues
sphinx-prompt
sphinxext.opengraph
sphinxcontrib.images
sphinx_tabs.tabs
sphinx.ext.autodoc
sphinx.ext.autosectionlabel
sphinx.ext.autosummary
sphinx.ext.coverage
sphinx.ext.intersphinx
sphinx.ext.napoleon
sphinx.ext.todo
sphinx.ext.viewcode
sphinxcontrib.actdiag
sphinxcontrib.blockdiag
sphinxcontrib.nwdiag
sphinxcontrib.plantuml
sphinxcontrib.seqdiag
crate.sphinx.csv